/*
 * This is a sample StyleSheet file used by {{ name }}
 *
 * You can delete this file if you want
 */
.asset-frames{
	width: 100%;
	height: 100%;
}
.space10{
	margin-top: 10px;
}
.asset-previews{
	height: 100%;
}
#Form-field-Pages-Previews-group{
	height: 100%;
}
