# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
.env
composer.lock
/.vscode
/bootstrap/cache/
/vendor
/nbproject/*
/nbproject/private/
/storage/debugbar
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
/bin
/npm-debug.log
/package-lock.json
/.idea
/public/uploads/*
/bootstrap/cache/*
/storage/logs/*
/storage/modules/*
/config/mail.php
.DS_Store