ul.breadcrumbs {
    display: inline;
}

ul.breadcrumbs li {
    list-style-type: none;
    float: left;
    padding-right: 10px;
}

ul.breadcrumbs li:after {
    padding-left: 10px;
    content: "/"
}

ul.breadcrumbs li:last-child:after {
    content: ""
}

ul.breadcrumbs li a.active {
    font-weight: 800;
}