@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/*Paragraph Styles*/
.content-body {font-family: "PT Sans", sans-serif; font-size: 14px;}
.content-body title {color: #4d4d4d; text-transform: uppercase; font-size: 32px;}
.content-body subtitle {color: #949494; text-transform: uppercase; font-size: 24px;}
.content-body h1 {
    display: block;
    color: #4d4d4d;
    background: #d2d2d2;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px;
    font-weight: 300;
}

.content-body h2 {
    display: block;
    color: #4d4d4d;
    background: #d2d2d2;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    font-weight: 300;
}

.content-body h3 {color: #4d4d4d; text-transform: uppercase; font-size: 20px;}
.content-body h4 {color: #4d4d4d; text-transform: uppercase; font-size: 18px; font-weight: 700;}
.content-body p {}
.content-body quote {}

/*Object Styles*/
.content-body .self_assessment {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #3e7bbf; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .video {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #96201e; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .graph {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #c8246b; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .text {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #c0b431; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .equation {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #ac7a4f; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .activity {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #449b77; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .image {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #e7682a; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .final_assessment {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #09436b; border-width: 0px 0px 0px 3px; border-style: solid;}
.content-body .chain {font-size: 16px; display: inline-block; padding-left: 15px; border-color: #7561aa; border-width: 0px 0px 0px 3px; border-style: solid;}